<!-- src/app/restablecer/restablecer.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar color="primary"> <!-- Usar color primario para la barra de herramientas -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" color="light"> <!-- Fondo claro consistente -->
  <div class="home-container centered-content"> <!-- Usando clases para mantener consistencia -->
    <ion-card> <!-- Añadiendo ion-card para crear un marco -->
      <ion-card-content>
        <ion-img src="assets/img/logo.png" alt="Logo de FitnessApp" class="logo"></ion-img>
        
        <h2 style="color: var(--ion-color-primary-contrast);">Restablece tu Contraseña</h2> <!-- Usar color primario para el encabezado -->
        <p style="color: var(--ion-text-color);">Ingresa tu usuario para restablecer la contraseña.</p>

        <form> <!-- Aquí eventualmente iría (ngSubmit)="onSubmit()" para manejar el envío -->
          <ion-list>
            <ion-item>
              <ion-label position="floating">Usuario</ion-label>
              <br>
              <ion-input type="text" minlength="3" maxlength="20" required></ion-input>
              <br>
            </ion-item>

            <div class="center-button-container">
              <ion-button expand="block" color="primary" (click)="iralogin()">Recuperar</ion-button> <!-- Usar color primario para el botón -->
            </div>
          </ion-list>
        </form>
      </ion-card-content>
    </ion-card>

  
  </div>
</ion-content>
