.not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--ion-background-color);
  
    h1 {
      font-size: 2.5rem;
      color: var(--ion-color-danger);
    }
  
    p {
      font-size: 1.2rem;
      margin-bottom: 20px;
    }
  
    ion-button {
      --background: var(--ion-color-primary);
      --border-radius: 8px;
    }
  }
  