<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="app-title">MyFit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" color="light">
  <div class="home-container centered-content">
    <ion-card>
      <ion-card-content>
        <ion-img src="assets/img/logo.png" alt="Logo de FitnessApp" class="logo"></ion-img>

        <h2 style="color: var(--ion-color-secondary-contrast);">¡Inicia Sesión en FitnessApp!</h2>

        <form (ngSubmit)="onLogin()">
          <ion-list>
            <ion-item>
              <ion-label position="fixed">Usuario</ion-label>
              <ion-input type="text" [(ngModel)]="username" name="username" minlength="4" maxlength="12" required></ion-input>
            </ion-item>

            <ion-text color="danger" font-weight="bold" *ngIf="errorUsername">{{ errorUsername }}</ion-text>

            <ion-item>
              <ion-label position="fixed">Contraseña</ion-label>
              <ion-input [type]="passwordType" [(ngModel)]="password" name="password" minlength="6" maxlength="12" required></ion-input>
              <!-- Icono para mostrar/ocultar contraseña -->
              <ion-icon [name]="passwordIcon"  slot="end" (click)="togglePasswordVisibility()"  color="primary"></ion-icon>
            </ion-item>

            <ion-text color="danger" font-weight="bold" *ngIf="errorPassword">{{ errorPassword }}</ion-text>

            <div class="center-button-container">
              <ion-button expand="block" color="primary" type="submit">INGRESAR</ion-button>
              <ion-button size="small" color="secondary" (click)="irarestablecer()">Restablecer Contraseña</ion-button>
            </div>
          </ion-list>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
