<ion-header [translucent]="true">
  <ion-toolbar color="primary">
  </ion-toolbar>
</ion-header>

<!--REVISAR CENTRAR Y SUBIR PAGINA AL RECARGAR DESDE LOGIN-->

<ion-content [fullscreen]="true" class="ion-padding" color="light">
  <div class="home-container centered-content">
    <ion-card>
      <ion-card-content>
        <h3 style="color: var(--ion-text-color);">MyFit</h3>
        <ion-img src="assets/img/logo.png" alt="Logo de FitnessApp" class="logo"></ion-img>
        
        <h2 style="color: var(--ion-color-primary);">¡Inicia Sesión en FitnessApp!</h2>

        <form (ngSubmit)="onLogin()">
          <ion-list>

            <!-- Campo de nombre de usuario -->
            <ion-item>
              <ion-label position="floating">Usuario</ion-label>
              <br>
              <ion-input type="text" [(ngModel)]="username" name="username" minlength="4" maxlength="12" required></ion-input>
            </ion-item>
            <!-- DECIDIR QUE COLOR UTILIZAR -->
            <ion-text style="color: var(--ion-color-custom-danger);"  font-weight: bold  *ngIf="errorUsername">{{ errorUsername }}</ion-text>

            <!-- Campo de contraseña -->
            <ion-item>
              <ion-label position="floating">Contraseña</ion-label>
              <br>
              <ion-input type="password" [(ngModel)]="password" name="password" minlength="6" maxlength="12" required></ion-input>
            </ion-item>
            <!-- DECIDIR QUE COLOR UTILIZAR -->
            <ion-text color="danger" font-weight: bold *ngIf="errorPassword">{{ errorPassword }}</ion-text> 

            <br>

            <!-- Botón para iniciar sesión -->
            <div class="center-button-container">
              <ion-button expand="block" color="primary" type="submit">INGRESAR</ion-button>
              <ion-button size="small" color="secondary" (click)="irarestablecer()">Restablecer <br> Contraseña</ion-button>
            </div>

          </ion-list>
        </form>
      </ion-card-content>
    </ion-card>

    <!-- Opción para navegar al registro/restablecimiento de contraseña -->
    
  </div>
</ion-content>


