/* src/theme/variables.scss */
:root {

  --ion-background-color: #336bab; /* Ajusta este color al que desees usar */
  --ion-background-color-rgb: 242, 242, 242;
  /* Colores Primarios */
  --ion-color-primary: #0057A4; /* Azul Oscuro */
  --ion-color-primary-rgb: 0, 87, 164;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #00407D;
  --ion-color-primary-tint: #2D78C0;

  /* Colores Secundarios */
  --ion-color-secondary: #0568be; /* Azul Claro */
  --ion-color-secondary-rgb: 74, 144, 226;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #386EB0;
  --ion-color-secondary-tint: #5A9FEA;

  /* Colores de Éxito y Advertencia */
  --ion-color-success: #4CAF50; /* Verde Esmeralda */
  --ion-color-warning: #FF9800; /* Naranja Brillante */
  --ion-color-danger: #FF5252; /* Rojo */

  /* Colores de Fondo y Texto */
  --ion-background-color: #044896; /* Fondo Blanco */
  --ion-text-color: #F5F5F5; /* Texto Gris Oscuro */
  --ion-text-color-rgb: 51, 51, 51;

  /* Colores de Fondo de Tarjetas */
  --ion-card-background: var(--ion-color-secondary); /* Fondo para tarjetas */
  --ion-card-color: var(--ion-color-secondary-contrast); /* Color de texto para tarjetas */

  /* Colores Personalizados para Mensajes */
  --ion-color-custom-warning: #FFCC00 ; /* Amarillo (Advertencia) */
  --ion-color-custom-danger: #ff0040c9;  /* Rojo Oscuro (Error) */
  
}
