/* src/app/home/home.page.scss */

/* Estilos para el menú lateral */
.menu-item {
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  &.active {
    --background: var(--ion-color-primary); /* Usar color primario */
    --color: var(--ion-color-primary-contrast); /* Contraste para texto */
  }
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: var(--ion-text-color); /* Usar color de texto global */
  margin: 0;
}

#container a {
  text-decoration: none;
}

.center-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--ion-background-color); /* Aplicar color de fondo global */
  color: var(--ion-text-color); /* Usar color de texto global */
}

h2 {
  font-size: 24px;
  color: var(--ion-color-primary); /* Usar color primario para el encabezado */
}

p {
  font-size: 16px;
  color: var(--ion-text-color); /* Usar color de texto global */
}

ion-content {
  --background: var(--ion-background-color); /* Asegura el uso del color de fondo definido */
}

ion-card {
  margin: 20px;
  padding: 10px;
  background-color: var(--ion-color-primary); /* Usar color primario para el fondo de las tarjetas */
  color: var(--ion-color-primary-contrast); /* Contraste de texto para asegurar legibilidad */
}

.summary-card, .progress-card, .tip-card {
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
  text-align: center;
}

.stat {
  text-align: center;
}

.action-button {
  margin-top: 10px;
  background-color: var(--ion-color-primary); /* Usar color primario */
  color: var(--ion-color-primary-contrast); /* Contraste para texto */
  font-weight: bold;
}

.logo {
  width: 500px;
  height: auto;
  margin-bottom: 20px;
}

.progress-image {
  width: 100%;
  height: auto;
  max-width: 600px; /* Limitar el ancho máximo para dispositivos grandes */
  margin-top: 10px;
  margin-bottom: 10px;
}



ion-button {
  width: 100%; /* Asegura que los botones ocupen todo el ancho disponible */
  height: 100%;
}
