<!-- src/app/home/home.page.html -->
<ion-app>
  <!-- Menú lateral -->
  <ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item (click)="iraperfil()">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label>Mi Perfil</ion-label>
        </ion-item>
        <ion-item (click)="iralogin()">
          <ion-icon name="log-in-outline" slot="start"></ion-icon>
          <ion-label>Login</ion-label>
        </ion-item>
        <!-- Puedes agregar más opciones de menú aquí -->
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Contenido principal -->
  <div class="ion-page" id="main-content">
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button> <!-- Botón para abrir el menú -->
        </ion-buttons>
        <ion-title>Inicio</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content [fullscreen]="false" class="ion-padding">
      <div class="home-container centered-content">
        <ion-img src="assets/img/logo.png" alt="Logo de FitnessApp" class="logo"></ion-img>
    
        <h2>¡Bienvenido a FitnessApp!</h2>
        <p>Tu asistente personal para una vida más saludable.</p>

        <ion-card>
          <ion-card-content>
            <p>Accede a tu perfil para ver y editar tus detalles personales.</p>
            <p>¡No olvides revisar tus estadísticas de fitness diarias!</p>
          </ion-card-content>
        </ion-card>
      </div>

      <div class="center-button-container">
        <ion-button size="small" (click)="iralogin()">Ir a Login</ion-button>
      </div>
    </ion-content>
  </div>
</ion-app>
