.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh; 
    background-color: var(--ion-background-color);
    color: var(--ion-text-color);
    padding: 0 20px;
  }
  
  ion-title.app-title {
    text-align: center;
    font-size: 24px;
    font-weight: normal;
    color: var(--ion-color-primary-contrast); 
    width: 100%; 
  }
  
  ion-card {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  h2 {
    font-size: 24px;
    color: var(--ion-color-primary);
    margin-bottom: 20px;
  }
  
  ion-item {
    margin-bottom: 15px;
  }
  
  .center-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-top: 10px;
  }
  
  .center-button-container ion-button {
    width: 100%; 
    max-width: 300px; 
    margin: 10px 10;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    height: 30px;
  }
  
  .logo {
    width: 300px; 
    height: auto;
    margin: 0 auto 20px; 
    display: block; 
  }
  